.layout {
  background: #001529;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 0 !important;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.link {
  color: #fff !important;
  text-decoration: none;
  font-weight: bold;
}

.desktop-menu {
  display: flex;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
