.layout {
  background: #001529;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 0 !important;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.link {
  color: #fff !important;
  text-decoration: none;
  font-weight: bold;
}

.custom-menu {
  background-color: #001529 !important;
  color: #fff !important;
}
